/* Sticky footer styles
-------------------------------------------------- */

#footer {
  padding: $paddingLarge;

  ul {
    list-style: none;
    margin: 0;
  }

  a {
    @include unstyled-link;
    color: #aaaaaa;
  }
}

.footer-logo {
  font-weight: bold;
}