// global variables
$base-padding: 20px;
$base-margin: $base-padding;

$negative-base-padding: $base-padding * -1;
$negative-base-margin: $base-margin * -1;

// typography
$base-type-color: #333333; // good for on white background