// Place all the styles related to the general design patterns here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "background-photo";
@import "browsing-list";