<h1>Listing moments</h1>

<table>
  <tr>
    <th>Id</th>
    <th>Name</th>
  </tr>

<% @moments.each do |moment| %>
  <tr>
    <td><%= moment.id %>(<%= moment.muddle %>)</td>
    <td><%= link_to moment.name, muddle_moment_path(moment) %></td>
  </tr>
<% end %>
</table>

<%= link_to 'New Moment', new_moment_path %>