<div class="inside">
  <h1>Create a new moment</h1>
  <%= render 'inline_form' %>
</div>

<%# Block of user's moments %>
<% unless @moments.empty? %>

  <ul class="moments browsing-list card">
    <h1>Your moments</h1>
    <% @moments.each do |moment| %>
      <li class="moment card">
        <%= link_to share_moment_path(moment.muddle), :class => "browsing-list-item" do %></h2>
          <h2><%= moment.name %></h2>

          <%# responses %>
          <% unless moment.positive_responses.empty? %>
            <ul class="unstyled inline">
              <% moment.positive_responses.each do |response| %>
                <li>
                  <%= image_tag response.user.image_by_dimension, :class => "img-circle" %>
                </li>
              <% end %>
            </ul>
          <% end %>

        <% end %>
      </li>
    <% end %>
  </ul>
<% end %>