

<%# Block of user's moments %>
<% unless @moments.empty? %>
  <h1>Your moments</h1>

  <ul class="unstyled">
    <% @moments.each do |moment| %>
      <li>
        <h2><%= link_to moment.name, share_moment_path(moment.muddle) %></h2>
        <% if moment.description %>
          <p><%= moment.description %></p>
        <% end %>
      </li>
    <% end %>
  </ul>
<% end %>

<% if can? :add, @moment %>
  <%= link_to 'New Moment', new_moment_path %>
<% end %>