<%# Block of user's moments %>
<% unless @moments.empty? %>
  <h1>Your moments</h1>

  <ul class="moments unstyled">
    <% @moments.each do |moment| %>
      <li class="moment">
        <%= link_to share_moment_path(moment.muddle) do %></h2>
          <h2><%= moment.name %></h2>

          <%# responses %>
          <% unless moment.positive_responses.empty? %>
            <ul class="unstyled inline">
              <% moment.positive_responses.each do |response| %>
                <li>
                  <%= image_tag response.user.image_by_dimension, :class => "img-circle" %>
                </li>
              <% end %>
            </ul>
          <% end %>

        <% end %>
      </li>
    <% end %>
  </ul>
<% end %>

<% if can? :create, Moment %>
  <%= link_to 'New Moment', new_moment_path %>
<% end %>