 <footer class="divider footer" id="footer">
  <div class="container">
    <ul>
      <li class="pull-left">
        <a href="http://strangebutwonderful.com">&copy; <%= Time.now.year %>
          <span class="footer-logo">Strange But Wonderful</span>
          </a><a href="http://twitter.com/ajsharma/" class="footer-link footer-icon"><i class="icon-twitter"></i>
          </a><a href="http://facebook.com/ajsharma/" class="footer-link footer-icon"><i class="icon-facebook"></i>
        </a>
      </li>
      <li class="pull-right">
        <%= link_to "Contact", 'https://twitter.com/sbw_moments', :target => "_blank" %>
      </li>
    </ul>
  </div>
</footer>